html, body{
    height: 100%;
    margin: 0;
    background: url(../website/image/doge.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.content{
    min-height: 100%;
    overflow: auto;
}

.content_inside{
    padding: 40px 20px 40px;

    background: rgba(0,0,0,0.2);
    color: white;
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}

.prof_pic{
    border-radius: 50%;
    height: auto;
    width: 200px;
    margin-left: 300px;
}

.footer{
    height: auto;
    min-height: 50px;
    margin-top: -50px;
    text-align: center;
    padding: 0px;
}

.line_break{
    width: 400px;
    margin: 0 auto;
    border-top: 1px solid white;
}

.contact_me a{
    font-size: 40px;
    color: white;
}

.copyright{
    margin: 0px;
}
